body {
    background-color: #8AACC0;
}

header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #09313F;
    color: #8AACC0;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float :right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color:#8AACC0;
    text-decoration: none;
}

#pro {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/web-development-agency.jpg");
    background-size: cover;
    background-position: center;
}

#services-article {
    display: flex;
    height: 400px;
   margin-left: 100px;
   margin-right: 100px;
    justify-content: space-evenly;
    background-color: #09313F;
}

.services-section {
    justify-content: space-evenly;
}
.services-section p, h3  {  
    margin-bottom: 32px;
    color: #8AACC0;
    width:10vw;
    text-align: center ;
    
}



.services-img {
 padding: 12px;
 margin: 20px;
 height: 10vw;
 width: 10vw;
 
}

#img-article {
    padding-top: 20px;
   float: right;
   margin-right: 100px;
   display:flex;

}

label {
    color:#09313F;
}

 #form-article {
    margin-left: 100px;
   margin-top: 100px;
}
    

/**
id="pro"
id="services-article"
class="services-section"
class="services-img"
id="img-article"
id="img-section"
id="form-article"
id="name" 
id="number"
id="email"
**/



#form-article {
    font-family: Georgia, 'Times New Roman', Times, serif;
  

}
